/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../_sass/includes/_clearfix.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* colors */
/* responsive breakpoints */
/* FIXING SOME FONT RENDERING ISSUES */
/* line 2, ../_sass/includes/_typography.scss */
html {
  -webkit-text-size-adjust: 100%;
}

/* line 5, ../_sass/includes/_typography.scss */
body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* DEFAULT FONT SETTINGS */
/* 16px base font size with 150% (24px) friendly, unitless line height and margin for vertical rhythm */
/* Font-size percentage is based on 16px browser default size */
/* line 15, ../_sass/includes/_typography.scss */
body, button, input, select, textarea {
  font: 100%/1.5 "Source Sans Pro", Helvetica, sans-serif;
  color: #666666;
}

/* line 19, ../_sass/includes/_typography.scss */
a {
  color: #c8ba9c;
}

/* line 22, ../_sass/includes/_typography.scss */
em {
  font-style: italic;
}

/* line 25, ../_sass/includes/_typography.scss */
strong {
  font-weight: 700;
}

/* line 28, ../_sass/includes/_typography.scss */
p, blockquote, q, pre, address, hr, code, samp, dl, ol, ul, form, table, fieldset, menu, img {
  margin: 0 0 1.5em 0;
  padding: 0;
}

/* Composed to a scale of 12px, 14px, 16px, 18px, 21px, 24px, 36px, 48px, 60px and 72px */
/* line 33, ../_sass/includes/_typography.scss */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  color: #666666;
  font-weight: 900;
}

/* line 38, ../_sass/includes/_typography.scss */
h1, .h1 {
  /* 48px / 48px */
  font-size: 3em;
  line-height: 1em;
}

/* line 43, ../_sass/includes/_typography.scss */
h2, .h2 {
  font-size: 1.5em;
  line-height: 1em;
}

/* line 48, ../_sass/includes/_typography.scss */
h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  /* 18px / 24px */
  font-size: 1.125em;
  line-height: 1.3333333333333333333333333333333em;
}

@media only screen and (max-width: 480px) {
  /* line 54, ../_sass/includes/_typography.scss */
  h1, .h1 {
    /* 36px / 48px */
    font-size: 2.25em;
    line-height: 1.3333333333333333333333333333333em;
  }
}
/* line 61, ../_sass/includes/_typography.scss */
p, ul, blockquote, pre, td, th, label {
  /* 16px / 24px */
  margin: 0;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

/* line 67, ../_sass/includes/_typography.scss */
small, p.small {
  /* 14px / 24px */
  margin: 0;
  font-size: 0.875em;
  line-height: 1.7142857142857142857142857142857em;
  margin-bottom: 1.7142857142857142857142857142857em;
}

/* line 73, ../_sass/includes/_typography.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 79, ../_sass/includes/_typography.scss */
sup {
  top: -0.5em;
}

/* line 82, ../_sass/includes/_typography.scss */
sub {
  bottom: -0.25em;
}

/* CODE */
/* line 86, ../_sass/includes/_typography.scss */
pre {
  overflow: scroll;
}
/* line 88, ../_sass/includes/_typography.scss */
pre.wrap {
  /* Allow line wrapping of 'pre' if required */
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 95, ../_sass/includes/_typography.scss */
pre, code, kbd, samp {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
  font-family: "Source Code Pro", monospace;
}

/* line 101, ../_sass/includes/_typography.scss */
code {
  /* Balance the monospace font size without effecting vertical rythmn */
  font-size: 0.8em;
  line-height: 1.875em;
  margin-bottom: 1.875em;
}

/*
Endless scrolling animation of the trees in the header 
*/
@-webkit-keyframes slide {
  /* line 14, ../_sass/includes/_header.scss */
  from {
    -webkit-webkit-transform: translate(0px, 0);
  }

  /* line 15, ../_sass/includes/_header.scss */
  to {
    -webkit-transform: translate(-1220px, 0);
  }
}

@-moz-keyframes slide {
  /* line 18, ../_sass/includes/_header.scss */
  from {
    -moz-transform: translate(0px, 0);
  }

  /* line 19, ../_sass/includes/_header.scss */
  to {
    -moz-transform: translate(-1220px, 0);
  }
}

@-o-keyframes slide {
  /* line 22, ../_sass/includes/_header.scss */
  from {
    -o-transform: translate(0px, 0);
  }

  /* line 23, ../_sass/includes/_header.scss */
  to {
    -o-transform: translate(-1220px, 0);
  }
}

@keyframes slide {
  /* line 26, ../_sass/includes/_header.scss */
  from {
    transform: translate(0px, 0);
  }

  /* line 27, ../_sass/includes/_header.scss */
  to {
    transform: translate(-1220px, 0);
  }
}

@-webkit-keyframes slideSmall {
  /* line 14, ../_sass/includes/_header.scss */
  from {
    -webkit-webkit-transform: translate(0px, 0);
  }

  /* line 15, ../_sass/includes/_header.scss */
  to {
    -webkit-transform: translate(-610px, 0);
  }
}

@-moz-keyframes slideSmall {
  /* line 18, ../_sass/includes/_header.scss */
  from {
    -moz-transform: translate(0px, 0);
  }

  /* line 19, ../_sass/includes/_header.scss */
  to {
    -moz-transform: translate(-610px, 0);
  }
}

@-o-keyframes slideSmall {
  /* line 22, ../_sass/includes/_header.scss */
  from {
    -o-transform: translate(0px, 0);
  }

  /* line 23, ../_sass/includes/_header.scss */
  to {
    -o-transform: translate(-610px, 0);
  }
}

@keyframes slideSmall {
  /* line 26, ../_sass/includes/_header.scss */
  from {
    transform: translate(0px, 0);
  }

  /* line 27, ../_sass/includes/_header.scss */
  to {
    transform: translate(-610px, 0);
  }
}

/* line 34, ../_sass/includes/_header.scss */
header {
  text-align: center;
  overflow: hidden;
  position: relative;
  height: 300px;
  background-color: #c8ba9c;
  margin-bottom: 1em;
}
/* line 41, ../_sass/includes/_header.scss */
header .trees {
  height: 300px;
  width: 3660px;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 48, ../_sass/includes/_header.scss */
header .far {
  background-image: url(../img/ui/trees-far.png);
  -webkit-animation: slide 160s linear infinite;
  -moz-animation: slide 160s linear infinite;
  -o-animation: slide 160s linear infinite;
  animation: slide 160s linear infinite;
}
/* line 52, ../_sass/includes/_header.scss */
header .near {
  background-image: url(../img/ui/trees-near.png);
  -webkit-animation: slide 120s linear infinite;
  -moz-animation: slide 120s linear infinite;
  -o-animation: slide 120s linear infinite;
  animation: slide 120s linear infinite;
}
/* line 56, ../_sass/includes/_header.scss */
header .front {
  background-image: url(../img/ui/trees-front.png);
  -webkit-animation: slide 80s linear infinite;
  -moz-animation: slide 80s linear infinite;
  -o-animation: slide 80s linear infinite;
  animation: slide 80s linear infinite;
  /*
  background-color: $frontColor;
  -webkit-mask-image: url(../img/ui/trees-near.png);
  -webkit-transition-property: background-color; 
  -webkit-transition-duration: 2s; 
  -webkit-transition-timing-function: ease-in-out;
  */
}
/* line 67, ../_sass/includes/_header.scss */
header h1 {
  position: relative;
  width: 100%;
  color: white;
  height: 300px;
  line-height: 300px;
  font-weight: 400;
  font-family: "Source Code Pro", monospace;
}

@media only screen and (max-width: 480px) {
  /* line 79, ../_sass/includes/_header.scss */
  header {
    height: 150px;
  }
  /* line 81, ../_sass/includes/_header.scss */
  header .trees {
    width: 1830px;
    background-size: auto 150px;
  }
  /* line 85, ../_sass/includes/_header.scss */
  header .far {
    -webkit-animation: slideSmall 160s linear infinite;
    -moz-animation: slideSmall 160s linear infinite;
    -o-animation: slideSmall 160s linear infinite;
    animation: slideSmall 160s linear infinite;
  }
  /* line 88, ../_sass/includes/_header.scss */
  header .near {
    -webkit-animation: slideSmall 120s linear infinite;
    -moz-animation: slideSmall 120s linear infinite;
    -o-animation: slideSmall 120s linear infinite;
    animation: slideSmall 120s linear infinite;
  }
  /* line 91, ../_sass/includes/_header.scss */
  header .front {
    -webkit-animation: slideSmall 80s linear infinite;
    -moz-animation: slideSmall 80s linear infinite;
    -o-animation: slideSmall 80s linear infinite;
    animation: slideSmall 80s linear infinite;
  }
  /* line 94, ../_sass/includes/_header.scss */
  header h1 {
    height: 150px;
    line-height: 150px;
  }
}
/* line 2, ../_sass/includes/_general.scss */
body {
  background-color: white;
}

/* line 5, ../_sass/includes/_general.scss */
nav {
  text-align: center;
  margin-bottom: 1.5em;
}
/* line 8, ../_sass/includes/_general.scss */
nav a.h3, nav a.h4, nav a.h5, nav span.h3, nav span.h4, nav span.h5 {
  text-decoration: none;
  color: #c8ba9c;
  font-weight: 400;
  display: inline-block;
  padding: 0 0.75em;
}

/* line 16, ../_sass/includes/_general.scss */
.content {
  -webkit-box-shadow: 0px 40px 40px rgba(200, 186, 156, 0.2);
  -moz-box-shadow: 0px 40px 40px rgba(200, 186, 156, 0.2);
  box-shadow: 0px 40px 40px rgba(200, 186, 156, 0.2);
}
/* line 19, ../_sass/includes/_general.scss */
.content .meta {
  color: #c9c9c9;
}
/* line 22, ../_sass/includes/_general.scss */
.content img, .content iframe {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.6em;
}
/* line 29, ../_sass/includes/_general.scss */
.content a {
  word-break: break-all;
}
/* line 32, ../_sass/includes/_general.scss */
.content iframe {
  margin-bottom: 1.5em;
}
/* line 35, ../_sass/includes/_general.scss */
.content pre {
  border: 1px solid #e8e8e8;
  padding: 1em;
  background-color: #fbfbfb;
}

/* line 43, ../_sass/includes/_general.scss */
.post .meta {
  margin-bottom: 1.5em;
}
/* line 45, ../_sass/includes/_general.scss */
.post .meta a {
  display: block;
  float: right;
}

@media only screen and (max-width: 480px) {
  /* line 54, ../_sass/includes/_general.scss */
  header, nav, .content, footer {
    padding: 0 16px 0 16px;
  }

  /* line 57, ../_sass/includes/_general.scss */
  body {
    font-size: 100%;
  }
}
@media only screen and (min-width: 480px) {
  /* line 65, ../_sass/includes/_general.scss */
  body {
    font-size: 116.75%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  /* line 72, ../_sass/includes/_general.scss */
  header, nav, .content, footer {
    padding: 0 24px 0 24px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 79, ../_sass/includes/_general.scss */
  .content, footer {
    width: 720px;
    padding: 0 24px 0 24px;
    margin: 0 auto 0 auto;
  }
}
/* line 87, ../_sass/includes/_general.scss */
footer {
  text-align: center;
  font-size: 0.8em;
  background-color: white;
  color: #c9c9c9;
}
/* line 92, ../_sass/includes/_general.scss */
footer form {
  display: inline-block;
  margin-left: 2em;
}
/* line 95, ../_sass/includes/_general.scss */
footer form input {
  margin: 0;
  padding: 0;
}
/* line 99, ../_sass/includes/_general.scss */
footer form input[type=text] {
  border: 1px solid #c9c9c9;
  padding: 0 0.15em;
  line-height: 0;
  font-weight: lighter;
  box-shadow: none;
  border-radius: 0;
}
/* line 107, ../_sass/includes/_general.scss */
footer form input[type=submit] {
  border: none;
  background: none;
  display: inline;
  -webkit-appearance: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: lighter;
  color: #cfc3aa;
  text-decoration: underline;
}

/* line 120, ../_sass/includes/_general.scss */
ul, li {
  list-style-type: disc;
}

/* line 123, ../_sass/includes/_general.scss */
ol, li {
  list-style-type: decimal;
}

/* line 126, ../_sass/includes/_general.scss */
ul li, ol li {
  margin-left: 2em;
}

/* line 129, ../_sass/includes/_general.scss */
hr {
  border: none;
  height: 0px;
  border-bottom: 1px solid #c9c9c9;
}
