<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ site.titleprefix }}{{ page.title }}</title>
		<meta name="description" content="{{ site.description }}">
		<meta name="viewport" content="width=device-width,initial-scale=1">

		<link href="http://fonts.googleapis.com/css?family=Source+Code+Pro:200,400" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900" rel="stylesheet" type="text/css">

		<link rel="stylesheet" href="/css/main.css">
	
	</head>
	<body>

		<header>
			<div class="far trees"></div>
			<!-- <h1 role="presentation">dalrimple</h1> -->
			<div class="near trees"></div>
			<div class="front trees"></div>
		</header>

		<!-- <nav class="">
{% include navigation.html %}
		</nav> -->