@import "_variables.scss";

/* FIXING SOME FONT RENDERING ISSUES */
html {
	-webkit-text-size-adjust: 100%;
}
body {
	min-height: 100%;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

/* DEFAULT FONT SETTINGS */
/* 16px base font size with 150% (24px) friendly, unitless line height and margin for vertical rhythm */
/* Font-size percentage is based on 16px browser default size */
body, button, input, select, textarea {
	font: 100%/1.5 'Source Sans Pro', Helvetica, sans-serif;
	color: $bodytext;
}
p, blockquote, q, pre, address, hr, code, samp, dl, ol, ul, form, table, fieldset, menu, img {
	margin: 0 0 1.5em 0;
	padding: 0;
}
/* Composed to a scale of 12px, 14px, 16px, 18px, 21px, 24px, 36px, 48px, 60px and 72px */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Source Code Pro', 'Source Sans Pro', Helvetica, sans-serif;
	color: $headingtext;
	font-weight: 200;
}
h1 { /* 60px / 72px */
	margin: 0;
	font-size: 3.75em;
	line-height: 1.2em;
	margin-bottom: 0.4em;
}
h2 { /* 48px / 48px */
	margin: 0;
	font-size: 3em;
	line-height: 1em;
	margin-bottom: 0.5em;
}
h3 { /* 36px / 48px */
	margin: 0;
	font-size: 2.25em;
	line-height: 1.3333333333333333333333333333333em;
	margin-bottom: 0.6667em;
} 
h4 { /* 24px / 24px */
	margin: 0;
	font-size: 1.5em;
	line-height: 1em;
	margin-bottom: 1em;
}
h5 { /* 21px / 24px */
	margin: 0;
	font-size: 1.3125em;
	line-height: 1.1428571428571428571428571428571em;
	margin-bottom: 1.1428571428571428571428571428571em;
}
h6 { /* 18px / 24px */
	margin: 0;
	font-size: 1.125em;
	line-height: 1.3333333333333333333333333333333em;
	margin-bottom: 1.3333333333333333333333333333333em;
}
p, ul, blockquote, pre, td, th, label { /* 16px / 24px */
	margin: 0;
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
}
small, p.small { /* 14px / 24px */
	margin: 0;
	font-size: 0.875em;
	line-height: 1.7142857142857142857142857142857em;
	margin-bottom: 1.7142857142857142857142857142857em;
}
/* CODE */
pre { /* Allow line wrapping of 'pre' */
	white-space: pre;
	white-space: pre-wrap;
	word-wrap:
	break-word;
}
pre, code, kbd, samp {
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
	font-family: 'Source Code Pro', monospace;
}